In [12]:
print("¿Por qué esta magnífica tecnología científica, \n        que ahorra trabajo y nos hace la vida más fácil, \n                nos aporta tan poca felicidad? \n                        La respuesta es ésta, simplemente porque aún no hemos aprendido a usarla con tino. \n \"Albert Einstein\"")

¿Por qué esta magnífica tecnología científica,
        que ahorra trabajo y nos hace la vida más fácil,
                nos aporta tan poca felicidad?
                        La respuesta es ésta, simplemente porque aún no hemos aprendido a usarla con tino.
 "Albert Einstein"

In [26]:
# Este es el nombre de la calle
nombre_calle = "Montseny"
# Este es el número de la calle
numero_calle = "155"
# Esta es la población
poblacion = "L'Hospitalet del Llobregat"
# Este es el código postal
CP = "08904"
direccion = nombre_calle + " " + numero_calle + "," + " " + poblacion + "," + " " + CP
print(direccion)

'''
A partir de la suma de los diferentes componentes del domicilio
devuelve una dirección completa
en formato estándar
'''

Montseny 155, L'Hospitalet del Llobregat, 08904

'\nA partir de la suma de los diferentes componentes del domicilio\ndevuelve una dirección completa\nen formato estándar\n'

In [36]:
victorias = 7
derrotas = 3
porc_vict = ((victorias + derrotas) / 1.00) * victorias
porc_derr = ((victorias + derrotas) / 1.00) * derrotas
print(porc_vict)
print(porc_derr)
porc_vict

70.0
30.0

70.0

In [47]:
mi_int = 6
mi_float = 5.94
print(type(mi_int))
print(type(mi_float))
mi_suma = mi_int + mi_float
print(type(mi_suma))
# del(mi_int)
# del(mi_float)
print(mi_int)

<class 'int'>
<class 'float'>
<class 'float'>
6

In [53]:
import math
print("Pasa de grados a radianes")
consulta = input("Cuántos grados quieres convertir?")
radianes = int(consulta)*(3.1416/180)
print("%s grados son %s radianes" %(consulta, radianes))

Pasa de grados a radianes

Cuántos grados quieres convertir? 4

4 grados son 0.06981333333333334 radianes

In [56]:
print("Calcula el área de paralelogramo:")
base = input("Indica la base: ")
base_tr = base.replace ("," , ".")
altura = input("Indica la altura: ")
altura_tr = altura.replace ("," , ".")
area = base_tr + altura_tr
print("El área es de " + area + " m2")

Calcula el área de paralelogramo:

Indica la base:  3,54
Indica la altura:  12,54

El área es de 3.5412.54 m2

In [60]:
nombre = input("¿Cuál es tu nombre?")
edad = int(input("¿Cuál es tu edad?"))
año_actual = 2024
año_nacimiento = año_actual - edad

print(f"{nombre}, naciste en el año {año_nacimiento}.")

¿Cuál es tu nombre? marce
¿Cuñal es tu edad? 45

marce, naciste en el año 1979.

In [66]:
a = input("Elige un número") 
b = input("Elige otro número")
c = input("Elige otro número más")
todos_iguales = a == b == c
dos_iguales = a == b or a == c or b == c
print(todos_iguales)
print(dos_iguales)

Elige un número 2
Elige otro número 3
Elige otro número más 3

False
True

In [70]:
mi_lista = [4, 6, 8, -1]
print(max(mi_lista))
len(mi_lista)
round(63.452256965,3)
abs(-74)

8

74

In [76]:
quij = "En un lugar de la Mancha, de cuyo nombre no quiero acordarme"
print(quij.upper())
print(quij.lower())
print(quij.title())
list_quij = [quij.split()]
print(list_quij)
print(quij.replace(",", ";"))
print(quij.replace("a", ""))

EN UN LUGAR DE LA MANCHA, DE CUYO NOMBRE NO QUIERO ACORDARME
en un lugar de la mancha, de cuyo nombre no quiero acordarme
En Un Lugar De La Mancha, De Cuyo Nombre No Quiero Acordarme
[['En', 'un', 'lugar', 'de', 'la', 'Mancha,', 'de', 'cuyo', 'nombre', 'no', 'quiero', 'acordarme']]
En un lugar de la Mancha; de cuyo nombre no quiero acordarme
En un lugr de l Mnch, de cuyo nombre no quiero cordrme

In [106]:
mis_num = [3, 4, 10]
mis_num.append(5)
suma = 0

for n in mis_num:
    suma += n
print(suma)

del(mis_num[1])
print(mis_num)

mis_num.insert(2, 6)
print(mis_num)

mis_num2 = [1, 3, 8]
full_list = mis_num + mis_num2
print(full_list)

full_list.sort()
print(full_list)

full_list.sort(reverse=True)
print(full_list)

22
[3, 10, 5]
[3, 10, 6, 5]
[3, 10, 6, 5, 1, 3, 8]
[1, 3, 3, 5, 6, 8, 10]
[10, 8, 6, 5, 3, 3, 1]